# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
*.env

# FastAPI / Uvicorn logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pytest / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# MyPy
.mypy_cache/

# Docker
*.dockerfile
docker-compose.override.yml

# Build / distribution
build/
dist/
*.egg-info/

# System files
.DS_Store
Thumbs.db

/uploaded_files
*/data/*